<div class="p-4">
  <h3 class="text-center">💊🩺 Order Medicine 💉🩸</h3>
  <hr />

  <form [formGroup]="orderItemForm" (ngSubmit)="addOrderItem()">
    <div class="row g-2">
      <div class="form-group col-md-6">
        <label>Medicine</label>
        <select
          class="form-select"
          [class]="{
            'is-invalid':
              orderItemForm.controls.productId.touched &&
              orderItemForm.controls.productId.errors
          }"
          (change)="updatePrice($event)"
          formControlName="productId"
        >
          <option value="">--Select Medecine--</option>
          @for(product of allProducts; track product.productId){
          <option value="{{ product.productId }}">
            {{ product.productName }}
          </option>
          }
        </select>
        @if(orderItemForm.controls.productId.errors){
        <div class="invalid-feedback">
          @if(orderItemForm.controls.productId.errors['required']){
          <div>this field is required</div>
          }
        </div>
        }
      </div>

      <div class="form-group col-md-6">
        <label>In Stock</label>
        <input
          class="form-control"
          type="text"
          [value]="singleStock.quantity ?? 0"
          readonly
        />
      </div>

      <div class="form-group col-md-6">
        <label>Price</label>
        <input
          class="form-control"
          type="text"
          formControlName="price"
          readonly
        />
      </div>

      <div class="form-group col-md-6">
        <label>Unit</label>
        <select
          class="form-select"
          [class]="{
            'is-invalid':
              orderItemForm.controls.unitId.touched &&
              orderItemForm.controls.unitId.errors
          }"
          formControlName="unitId"
          (change)="updateUnit($event)"
        >
          <option value="">--Select Unit--</option>
          @for(unit of allUnits; track unit.unitId){
          <option value="{{ unit.unitId }}">
            {{ unit.unitName }}
          </option>
          }
        </select>
        @if(orderItemForm.controls.unitId.errors){
        <div class="invalid-feedback">
          @if(orderItemForm.controls.unitId.errors['required']){
          <div>this field is required</div>
          }
        </div>
        }
      </div>

      <div class="form-group col-md-6">
        <label>Quantity</label>
        <input
          class="form-control"
          type="number"
          formControlName="quantity"
          (input)="updateTotal()"
          [class]="{
            'is-invalid':
              orderItemForm.controls.quantity.touched &&
              orderItemForm.controls.quantity.errors
          }"
        />
        @if(orderItemForm.controls.quantity.errors){
        <div class="invalid-feedback">
          @if(orderItemForm.controls.quantity.errors['required']){
          <div>this field is required</div>
          } @if(orderItemForm.controls.quantity.errors['min']){
          <div>order minimum 1 quantity</div>
          }
        </div>
        }
      </div>

      <div class="form-group col-md-6">
        <label>Total</label>
        <input
          class="form-control"
          type="text"
          formControlName="total"
          readonly
        />
      </div>
      <div class="col-md-12">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="orderItemForm.invalid"
        >
          Save
        </button>
        <button type="button" class="btn btn-secondary ms-2" [mat-dialog-close]>
          close
        </button>
      </div>
    </div>
  </form>
</div>
