section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}
.example-button-row {
  height: 100%;
  width: 100%;
}
.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#background {
  background-image: url("https://img2023.weyesimg.com/uploads/ouyeedisplays.allweyes.com/images/cd36e3c07498074b4ebb39d4623fb407.jpg");
  background-size: cover; /* Ensure the background image covers the entire element */
  background-position: center; /* Center the background image */
  height: 100vh; /* Set the height of the background to 100% of the viewport height */
  width: 100%;
}
