.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 80%;
    display: flex;
    margin-left: 12.5%;
    align-items: center;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }