<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="ProductForm" (ngSubmit)="Save()">
        <fieldset>
          <legend>@if(isEdit) { Edit Product } @else { Add Product }</legend>
          <div class="form-group">
            @if (isEdit) {
              <label for="productId">Product Id</label>
              <input type="text" class="form-control" formControlName="productId" readonly />
            } @else {
              <input type="hidden" class="form-control" formControlName="productId" readonly />
            }
          </div>
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" formControlName="productName" />
          </div>
          <div class="form-group">
            <label for="productDescription">Product Description</label>
            <input type="text" class="form-control" formControlName="productDescription" />
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" formControlName="price" />
          </div>
          <!-- <div class="form-group">
            <label for="categoryId">Category Id</label>
            <input type="number" class="form-control" formControlName="categoryId" />
          </div> -->

          <!-- start -->

          <div class="col-md-6">
            <div class="form-group">
              <label for="categoryId">Select Sales Target</label>
              <mat-select class="form-control" formControlName="categoryId">
                @for (item of Catagories; track $index) {
                <mat-option [value]="item.categoryId">{{
                  item.categoryName
                }}</mat-option>
                }
              </mat-select>
            </div>
          </div>



          <!-- end -->
          <div class="form-group">
            @if(isEdit) {
              <button type="submit" class="btn btn-primary" [disabled]="!ProductForm.valid">
                <i class="material-icons">update</i> Update
              </button>
            } @else {
              <button type="submit" class="btn btn-primary" [disabled]="!ProductForm.valid">
                <i class="material-icons">save</i> Save
              </button>
            }
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>