<div>
  <div
    style="
      text-align: center;
      width: 1050px;
      height: 50px;
      margin-top: 100px;
      margin-bottom: 20px;
      margin-left: 11.4%;
      background-color: rgb(71, 55, 212);
      opacity: 50px;
      padding-top: 13px;
    "
  >
    @if(isEdit) {
    <h4 style="font-size: 30px; color: white">
      <b><i>Edit Product</i></b>
    </h4>

    } @else {
    <h4>
      <b><i>Add Product</i></b>
    </h4>
    }
  </div>
  <form [formGroup]="ProductForm" (ngSubmit)="Save()">
    <div class="example-container flex justify-center">
      @if (isEdit) {
      <mat-form-field>
        <mat-label>Product Id</mat-label>
        <input matInput type="text" formControlName="ProductId" readonly />
      </mat-form-field>
      }@else{
      <mat-form-field style="display: none">
        <mat-label>Product Id</mat-label>
        <input matInput type="text" formControlName="ProductId" readonly />
      </mat-form-field>
      }

      <mat-form-field>
        <mat-label>ProductName</mat-label>
        <input matInput type="text" formControlName="ProductName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>ProductDescription</mat-label>
        <input matInput type="text" formControlName="ProductDescription" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="Price" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>CategoryId</mat-label>
        <input matInput type="number" formControlName="CategoryId" />
      </mat-form-field>

      @if(isEdit) {
      <div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!ProductForm.valid"
        >
          <mat-icon>update</mat-icon>Update
        </button>
      </div>
      } @else {
      <div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!ProductForm.valid"
        >
          <mat-icon>save</mat-icon>Save
        </button>
      </div>
      }
    </div>
  </form>
</div>
