<!-- <mat-card class="text-center mt-3">
  <app-home-rifat></app-home-rifat>
</mat-card> -->

<!-- <div class="container-fluid">
  <div class="div">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          mat-raised-button
          color="warn"
          routerLink="/home"
        >
          <mat-icon>home</mat-icon>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              mat-button
              color="warn"
              routerLink="pharmacy"
              routerLinkActive="active"
              >PHARMACY</a
            >
            <a
              mat-button
              color="warn"
              routerLink="unit"
              routerLinkActive="active"
              >UNIT</a
            >
            <a
              mat-button
              color="warn"
              routerLink="unitConversion"
              routerLinkActive="active"
              >UNIT CONVERSION</a
            >
            <a
              mat-button
              color="warn"
              routerLink="order"
              routerLinkActive="active"
              >ORDER</a
            >
            @if(isLoggedIn()){
            <a
              mat-button
              color="warn"
              routerLink="register"
              routerLinkActive="active"
              >REGISTER</a
            >

            <a
              mat-button
              color="warn"
              routerLink="login"
              routerLinkActive="active"
              >LOGIN</a
            >
            } @else {
            <a
              mat-button
              color="warn"
              routerLink="login"
              (click)="logout()"
              routerLinkActive="active"
              >LOG OUT</a
            >
            }
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="main"></div>
</div> -->
<!-- <router-outlet /> -->
