<div class="row g-2">
  <div class="col-md-10 offset-md-1">
    <h2 class="text-warning">Pending Order</h2>
  </div>
  <div class="col-md-10 offset-md-1">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#Order No.</th>
            <th>Order Date</th>
            <th>Pharmacy</th>
            <th>Grand Total</th>
            <th>Approval</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(item of allOrderList; track item.orderId){
          <tr>
            <td
              (click)="orderDetails(item.orderId)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              {{ item.orderNo }}
            </td>
            <td
              (click)="orderDetails(item.orderId)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <!-- {{ item.orderDate.slice(0, 10) }} -->
                {{ item.orderDate | date}}
            </td>
            <td
              (click)="orderDetails(item.orderId)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              {{ item.pharmacyName }}
            </td>
            <td
              (click)="orderDetails(item.orderId)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              {{ item.grandTotal }}
            </td>
            <td
              (click)="orderDetails(item.orderId)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              @if(!item.isApproved){
              <span class="text-warning"> pending... </span> }@else {
              <span class="text-success"> approved </span> }
            </td>
            @if(role == 'manager'){
            <td>
              <button
                type="button"
                class="btn btn-success btn-sm"
                (click)="approved(item.orderId)"
              >
                Approved
              </button>
            </td>
            }@else {
            <td></td>
            }
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- // modal order details  -->
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Pharmacy : {{ order.pharmacyName }}
        </h1>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead class="bg-danger">
            <tr>
              <td>Product</td>
              <td>Quantity</td>
              <td>Total</td>
            </tr>
          </thead>
          <tbody>
            @for(item of orderItems; track item.id){
            <tr>
              <td>
                {{ item.productName }}
              </td>
              <td>{{ item.quantity }} {{ item.unitName }}</td>
              <td>
                {{ item.price }}
              </td>
            </tr>
            }
            <tr>
              <td colspan="2">Grand Total:</td>

              <td>{{ order.grandTotal }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <!-- for print -->
        <button class="btn btn-warning" (click)="PrintMe()">Print</button>
      </div>
    </div>
  </div>
</div>

<!-- Invoice / Bill -->
<div id="invoice" style="display: none">
  <div class="row">
    <div class="col-md-12 forHeader">
      <hr
        style="border: none; height: 15px; background: orange; margin-bottom: 0"
      />
      <h1 style="color: orange; margin-top: 0">Invoice</h1>
      <div style="width: 100%">
        <div style="display: flex">
          <div style="width: 60%">
            <span><strong>Square Pharmaceutical Ltd.</strong></span
            ><br />
            <span>Gulshan-2, Dhaka, Bangladesh</span><br />
            <span>cell: 01974587458</span><br />
            <span>website: squarepharma.com</span>
          </div>
          <div style="width: 40%">
            <span>Order No: {{ order.orderNo }}</span
            ><br />
            <span>Order Date: {{ order.orderDate | date }}</span>
          </div>
        </div>
        <hr />
        <div>
          <h5>Billed To: {{ order.pharmacyName }}</h5>
        </div>
        <div>
          <table style="width: 100%; border-collapse: collapse">
            <thead>
              <tr>
                <td
                  style="
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                  "
                >
                  Product
                </td>
                <td
                  style="
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                  "
                >
                  Quantity
                </td>
                <td
                  style="
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                  "
                >
                  Total
                </td>
              </tr>
            </thead>
            <tbody>
              @for(item of orderItems; track item.id){
              <tr>
                <td
                  style="
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                  "
                >
                  {{ item.productName }}
                </td>
                <td
                  style="
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                  "
                >
                  {{ item.quantity }} {{ item.unitName }}
                </td>
                <td
                  style="
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                  "
                >
                  {{ item.price }}
                </td>
              </tr>
              }
              <tr>
                <td
                  colspan="2"
                  style="
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                  "
                >
                  Grand Total:
                </td>

                <td
                  style="
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                  "
                >
                  {{ order.grandTotal }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-12 forFooter">
      <h3 style="color: orange">Thank you for buying our product</h3>
    </div>
  </div>
</div>
