<div class="row g-2">
    <div class="col-md-10 offset-md-1">
      <input
        type="button"
        class="btn btn-primary"
        routerLink="/category/add"
        value="Create Category"
      />
    </div>
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>--Action--</th>
          </tr>
        </thead>
        <tbody>
          @for(item of allCategorylist; track item.employeeId){
          <tr>
            <td>{{ item.categoryId}}</td>
            <td>{{ item.categoryName}}</td>
            <td>
              <button
              (click)="Edit(item.categoryId)"
              class="btn btn-primary btn-sm" style="margin-left: 5px;"
            >
              Edit
            </button>
              <button
                (click)="deleteCategory(item.categoryId)"
                class="btn btn-danger btn-sm ms-md-2 mt-2 mt-lg-0"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
