<div class="flex justify-center">
  <button
    class="mb-3 mt-3 ml-5"
    mat-raised-button
    routerLink="/add-SalesAchievement"
  >
    <mat-icon>add_circle</mat-icon>
    Add Achievement
  </button>
</div>

<table
  mat-table
  [dataSource]="salesachievementlist"
  class="mat-elevation-z8 demo-table"
>
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>SalesAchievement Id</th>
    <td mat-cell *matCellDef="let element">{{ element.ID }}</td>
  </ng-container>

  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.Amount }}</td>
  </ng-container>

  <ng-container matColumnDef="SalesTargetsId">
    <th mat-header-cell *matHeaderCellDef>SalesTargetsId</th>
    <td mat-cell *matCellDef="let element">{{ element.SalesTargetsId }}</td>
  </ng-container>

  <ng-container matColumnDef="Action" style="margin-left: 10px">
    <th mat-header-cell *matHeaderCellDef>
      <mat-icon style="margin-left: 10%"></mat-icon>Edit<mat-icon
        style="margin-left: 20%"
      >
      </mat-icon
      >Delete
    </th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-fab
        extended
        color="primary"
        (click)="Edit(element.ID)"
        style="margin-right: 2%"
      >
        <mat-icon>edit</mat-icon>
        Edit
      </button>

      <button mat-fab extended color="warn" (click)="Delete(element.ID)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>

      <!-- <button class="mb-3 mt-3 ml-5" mat-raised-button color="primary" (click)="Edit(element.ProductId)" >Edit</button> -->
      <!-- <button class="mb-3 mt-3 ml-5" mat-raised-button color="warn" (click)="Delete(element.ProductId)" >Delete</button></td> -->
    </td></ng-container
  >

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
