<div class="container-fluid">
  <div class="div">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          mat-raised-button
          color="warn"
          routerLink="/home"
        >
          <mat-icon>home</mat-icon>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a mat-button color="warn" routerLink="pharmacy">PHARMACY</a>
            <a mat-button color="warn" routerLink="unit">UNIT</a>
            <a mat-button color="warn" routerLink="unitConversion"
              >Unit Conversion</a
            >
            <a mat-button color="warn" routerLink="order">Orders</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="main">
    <router-outlet />
  </div>
</div>
