<div class="row g-2">
  <div class="col-md-10 offset-md-1">
    <h2 class="text-warning">Delivery Pending</h2>
  </div>
  <div class="col-md-10 offset-md-1">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#Order No.</th>
            <th>Order Date</th>
            <th>Pharmacy</th>
            <th>Grand Total</th>
            <th>Approval</th>
            <th>Delivery</th>
          </tr>
        </thead>
        <tbody>
          @for(item of allOrderList; track item.orderId){ @if(!item.isDelivered
          && item.isApproved){
          <tr>
            <td>{{ item.orderNo }}</td>
            <td>{{ item.orderDate.slice(0, 10) }}</td>
            <td>{{ item.pharmacyName }}</td>
            <td>{{ item.grandTotal }}</td>
            @if(!item.isApproved){
            <td class="text-warning">pending..</td>
            }@else{
            <td class="text-success">approved</td>
            }
            <td class="text-warning">pending..</td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
  </div>
</div>
