<div class="row d-flex justify-content-center">
  <div class="col-md-6 shadow-lg p-3 mt-3">
    <form [formGroup] = "unitConversionForm" (ngSubmit)="submitForm()">
      <div class="row g-3">
        @if(isEdit){
          
          <div class="col-md-6">
            <label for="unitConvertionId" class="form-label">Unit Conversion ID</label>
            <input  formControlName = "unitConvertionId"  readonly type="text" class="form-control" id="unitConvertionId">
          </div>
        }
    
        <div class="col-md-6">
          <label for="unitId" class="form-label">Unit</label>
  
          <select id="unitId"  class="form-select" formControlName = "unitId" >
            @for(unit of allUnit; track unit.unitId){
                <option value="{{unit.unitId}}">{{unit.unitName}}</option>
            }
          </select>
        </div>
    
        <div class="col-md-6">
          <label for="productId" class="form-label">Product</label>
          <input formControlName = "productId"  type="text" class="form-control" id="productId">
        </div>
    
        <div class="col-md-6">
          <label for="quantity" class="form-label">Quantity</label>
          <input  formControlName="quantity" type="text" class="form-control" id="quantity">
        </div>
    
       <div class="col-md-12">
        @if(isEdit){
          <button mat-flat-button color="warn">Update</button>
        }@else {
          <button mat-flat-button color="accent" type="submit">Submit</button>    
        }
       </div>
      </div>
    
    </form>
  
  </div>
</div>