<div class="row g-2">
    <div class="col-md-10 offset-md-1">
      <input
        type="button"
        class="btn btn-primary"
        routerLink="/employee/add"
        value="Create Employee"
      />
    </div>
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>State</th>
            <th>Country</th>
            <th>Gender</th>
            <th>--Action--</th>
          </tr>
        </thead>
        <tbody>
          @for(item of allEmployeeList; track item.employeeId){
          <tr>
            <td>{{ item.employeeId}}</td>
            <td>{{ item.employeeName}}</td>
            <td>{{ item.designation}}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>{{ item.emailAddress}}</td>
            <td>{{ item.address}}</td>
            <td>{{ item.state}}</td>
            <td>{{ item.country}}</td>
            <td>{{ item.gender}}</td>
            <td>
              <button
              (click)="Edit(item.employeeId)"
              class="btn btn-primary btn-sm"
            >
              Edit
            </button>
              <button
                (click)="deleteEmployee(item.employeeId)"
                class="btn btn-danger btn-sm ms-md-2 mt-2 mt-lg-0"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
